<li class="dropdown">
  <a class="dropdown-toggle" id="doc-menu-item" data-toggle="dropdown" data-target="#" href="http://http4s.org/" role="button" aria-haspopup="true" aria-expanded="false">
    Documentation <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="doc-menu-item">
    <a class="dropdown-item" href="/v0.19/">v0.19 (development)</a>
    <a class="dropdown-item" href="/v0.18/">v0.18 (stable)</a>
    <a class="dropdown-item" href="/v0.17/">v0.17 (EOL)</a>
    <a class="dropdown-item" href="/v0.16/">v0.16 (EOL)</a>
    <a class="dropdown-item" href="/versions/">Help me choose...</a>
  </ul>
</li>
